<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let item of heroes">
    <span class="badge">
      {{item.id}}
    </span>
    {{item.name}}
  </li>
</ul>

<h2>{{ hero.name }}</h2>
<div>
  <label>name:
    <!-- [] -> one way binding : 우측변수를 왼쪽에 바인딩 하라 -->
    <!-- () -> one way binding : 좌측변수를 우측에 바인딩 하라 -->
    <!-- ([]) -> two way binding : 양쪽변수를 양쪽에 바인딩 하라 -->
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>

<!-- table.aaa>tr#id>td*4 -->
<!--
<table class="aaa">
  <tr id="bbb">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
-->

<!--
<div>
  <label>name:
    <input [(ngModel)]="hero.name">
  </label>
</div>
-->
